.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;

  .clock {
    z-index: 1;
    position: absolute;

    .smoothColon {
      animation: smoothBlink 1s infinite;
      -webkit-animation: smoothBlink 1s infinite;
    }
    @keyframes smoothBlink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .sharpColon {
      animation: sharpBlink 1s infinite;
      -webkit-animation: sharpBlink 1s infinite;
    }
    @keyframes sharpBlink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      51% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }

  video {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
