.showcase {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  cursor: none;

  .clock {
    z-index: 1;
    position: absolute;

    .smoothColon {
      animation: smoothBlink 1s infinite;
      -webkit-animation: smoothBlink 1s infinite;
    }
    @keyframes smoothBlink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .sharpColon {
      animation: sharpBlink 1s infinite;
      -webkit-animation: sharpBlink 1s infinite;
    }
    @keyframes sharpBlink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      51% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
