@font-face {
  font-family: "pinball";
  src: url('fonts/pinball/OPTIPinBall.otf');
}

@font-face {
  font-family: "arcade";
  src: url('fonts/arcade/ARCADE.TTF');
}

@font-face {
  font-family: "arcade-alternate";
  src: url('fonts/arcade-alternate/ArcadeAlternate.ttf');
}

@font-face {
  font-family: "arcade-book";
  src: url('fonts/arcade-book/Arcade\ Book.ttf');
}

@font-face {
  font-family: "arcade-classic";
  src: url('fonts/arcade-classic/Arcade\ Classic.ttf');
}

@font-face {
  font-family: "arcade-future";
  src: url('fonts/arcade-future/Arcade\ Future.otf');
}

@font-face {
  font-family: "arcade-heliumdream";
  src: url('fonts/arcade-heliumdream/ARCADE_v0.1.ttf');
}

@font-face {
  font-family: "arcade-nightmare";
  src: url('fonts/arcade-nightmare/arcade_nightmare.ttf');
}

@font-face {
  font-family: "arcade-yuji-adachi-i";
  src: url('fonts/arcade-yuji-adachi/ARCADE_I.TTF');
}

@font-face {
  font-family: "arcade-yuji-adachi-n";
  src: url('fonts/arcade-yuji-adachi/ARCADE_N.TTF');
}

@font-face {
  font-family: "arcade-yuji-adachi-r";
  src: url('fonts/arcade-yuji-adachi/ARCADE_R.TTF');
}

@font-face {
  font-family: "arcadepix";
  src: url('fonts/arcadepix/ARCADEPI.TTF');
}

@font-face {
  font-family: "arcadepix-plus";
  src: url('fonts/arcadepix-plus/Arcadepix\ Plus.ttf');
}

@font-face {
  font-family: "arcades";
  src: url('fonts/arcades/Arcades.ttf');
}

@font-face {
  font-family: "arcades-italic";
  src: url('fonts/arcades/Arcades\ Italic.ttf');
}

@font-face {
  font-family: "barcade-bold";
  src: url('fonts/barcade/barcadbold.ttf');
}

@font-face {
  font-family: "barcade-bold-italic";
  src: url('fonts/barcade/barcadboldital.ttf');
}

@font-face {
  font-family: "barcade";
  src: url('fonts/barcade/barcade.ttf');
}

@font-face {
  font-family: "barcade-3d";
  src: url('fonts/barcade/barcade3d.ttf');
}

@font-face {
  font-family: "barcade-3d-italic";
  src: url('fonts/barcade/barcade3dital.ttf');
}

@font-face {
  font-family: "barcade-condensed";
  src: url('fonts/barcade/barcadecond.ttf');
}

@font-face {
  font-family: "barcade-condensed-italic";
  src: url('fonts/barcade/barcadecondital.ttf');
}

@font-face {
  font-family: "barcade-expanded";
  src: url('fonts/barcade/barcadeexpand.ttf');
}

@font-face {
  font-family: "barcade-expanded-italic";
  src: url('fonts/barcade/barcadeexpandital.ttf');
}

@font-face {
  font-family: "barcade-italic";
  src: url('fonts/barcade/barcadeital.ttf');
}

@font-face {
  font-family: "barcade-left";
  src: url('fonts/barcade/barcadeleft.ttf');
}

@font-face {
  font-family: "barcade-no-bar";
  src: url('fonts/barcade/barcadenobar.ttf');
}

@font-face {
  font-family: "barcade-no-bar-italic";
  src: url('fonts/barcade/barcadenobarital.ttf');
}

@font-face {
  font-family: "barcade-out";
  src: url('fonts/barcade/barcadeout.ttf');
}

@font-face {
  font-family: "barcade-out-italic";
  src: url('fonts/barcade/barcadeoutital.ttf');
}

@font-face {
  font-family: "barcade-semi-italic";
  src: url('fonts/barcade/barcadesemital.ttf');
}

@font-face {
  font-family: "barcade-no-bar-bold";
  src: url('fonts/barcade/barcadnobarbold.ttf');
}

@font-face {
  font-family: "barcade-no-bar-bold-italic";
  src: url('fonts/barcade/barcadnobarboldital.ttf');
}

@font-face {
  font-family: "black-arcade";
  src: url('fonts/black-arcade/Black\ Arcade\ Free.otf');
}

@font-face {
  font-family: "digital-arcade";
  src: url('fonts/digital-arcade/DigitalArcade.ttf');
}

@font-face {
  font-family: "karmatic-arcade";
  src: url('fonts/karmatic-arcade/ka1.ttf');
}

@font-face {
  font-family: "new-arcades";
  src: url('fonts/new-arcades/NewArcades.ttf');
}

@font-face {
  font-family: "our-arcade-games";
  src: url('fonts/our-arcade-games/Our-Arcade-Games.ttf');
}

@font-face {
  font-family: "sega-arcade";
  src: url('fonts/sega-arcade/SegaArcadeFont-Regular.ttf');
}
