.modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  .modalBox {
    overflow-y: auto;
    max-height: 80vh;
    max-width: 80vw;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
